# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Backup files
backups/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Build artifacts
build/
dist/

# Installer output
Output/

# Python packaging
*.egg-info/

Backup logo/
installer/*.exe